# User-defined cost function
cost_funs/*.py

# User-defined data
layers.json

# Python cache
__pycache__/
*.pyc

# Python virtual environment
venv

# Mac desktop service store files
.DS_Store

# Logs
*.log
*.lprof

# Environment variable setter
set_envs.sh

# Vim temporary files
*.swp
