[Unit]
Description=AccessMap API Server

[Service]
Environment=DATABASE_URL=<>

ExecStart=source env/bin/activate && python runserver.py
WorkingDirectory=</path/to/accessmap-api/repo/clone>
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=accessmap-api
User=<youruser>

[Install]
WantedBy=multi-user.target
